<div class="form-group">
    <label for="login_email">Email</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" id="login_email"
           name="email" placeholder="Input your email"
           value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
    <small id="emailHelp" class="form-text text-danger">{% if errors.email %}
        {% for error in errors.email %}{{ error }} {% endfor %}
    {% endif %} {% if errors.other %}
        {% for error in errors.other %}{{ error }} {% endfor %}
    {% endif %}
    </small>
</div>