<div class="form-group">
    <label for="old_password">Old password</label>
    <input type="password" class="form-control" id="old_password"
           name="old_password" placeholder="Input old password">
    <small id="passwordHelp" class="form-text text-danger">{% if errors.old_password %}
        {% for error in errors.old_password %}{{ error }} {% endfor %}
    {% endif %}</small>
</div>
<div class="form-group">
    <label for="new_password">New password</label>
    <input type="password" class="form-control" id="new_password"
           name="new_password" placeholder="And input new password">
    <small id="passwordHelp" class="form-text text-danger">{% if errors.new_password %}
        {% for error in errors.new_password %}{{ error }} {% endfor %}
    {% endif %}</small>
</div>