{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>gas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="/"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <div class="col-lg-9">
                <div class="profileLink">
                    {% if request.user.is_authenticated %}
                    <a href="/auth/profile/"  style="margin-left: 10px">{{ request.user.person.first_name}} | </a>
                    <a href="/auth/logout/"  style="margin-left: 10px"> Выйти</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page">
    <div class="menuLeft">
        <span class="groupText">Кандидаты</span>
        <ul class="nav">
            <li><a href="#">Отправлено в СБ</a></li>
            <li><a href="#">Отказано</a></li>
            <li><a href="#">Резерв</a></li>
        </ul>
        <span class="groupText">Стажеры</span>
        <ul class="nav">
            <li><a href="#">Активные</a></li>
            <li><a href="#">Не допущены</a></li>
        </ul>
        <span class="groupText">Операторы</span>
        <ul class="nav">
            <li><a href="#">Активные</a></li>
            <li><a href="#">Уволеныне</a></li>
            <li><a href="#">График работы</a></li>
        </ul>
        <span class="groupText">Станции</span>
        <ul class="nav">
            <li><a href="/stations/">Список станций</a></li>
        </ul>
    </div>
    <div class="info">
            <div class="search">
                <span class="searchText">{{ page_name }}</span>
                <form action="" >
                    <input type="text" name="search" placeholder="Поиск по фамилии"/>
                </form>
                <a href="{{ page_new_url }}" class="button">{{ button_name }}</a>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
    </div>
</div>
</body>
</html>