{% extends 'empty.html' %}
{% block content %}

   <section class="bg" id="bg">
        <div class="login">
             <div class="loginForm">
                  <form action="/auth/login/" method="post">
                       <h1>Добро пожаловать</h1>
                       <p>Пожалуйтса, пройдите авторизацию </p>
                       <label for="user_name">
                            <span>E-mail</span>
                            <input type="email" name="email" id="user_name" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="Введите данные " >
                     <small id="emailHelp" class="form-text text-danger">{% if errors.email %}
                        {% for error in errors.email %}{{ error }} {% endfor %}
                            {% endif %} {% if errors.other %}
                        {% for error in errors.other %}{{ error }} {% endfor %}
                        {% endif %}
                    </small>
                       </label>
                       <label for="user_pass">
                            <span>Пароль</span>
                            <input type="password" name="password" id="user_pass" placeholder="Введите пароль " >
                           <small id="passwordHelp" class="form-text text-danger">{% if errors.password %}
                             {% for error in errors.password %}{{ error }} {% endfor %}
                           {% endif %}</small>
                       </label>
                       <p><a href="/auth/reset_password/">Забыли пароль?</a></p>
                        {% csrf_token %}
                       <input type="submit" value="Войти" class="button">
                  </form>
             </div>
        </div>
   </section>

   <script>
        $(document).ready(function () {
             const heightDock = document.documentElement.clientHeight;
             $('#bg').css('height',heightDock);
        });
   </script>
{% endblock %}

