{% extends 'base_app.html' %}

{% block content %}
    <div class="row"
         style="height:100vh; width:100vw; background: url('/static/img/backtest3.png') no-repeat; background-size: cover;">
        <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" style="padding-top: 100px">
            <form action="/auth/reset_password/{% if code %}{{ code }}/{% endif %}" method="post">
                {% if not request.user.is_authenticated and not code %}
                    {% include "person/reset_password/anonymous_reset_password.html" %}
                {% elif request.user.is_authenticated and not code %}
                    {% include "person/reset_password/user_reset_password.html" %}
                {% elif code%}
                    {% include "person/reset_password/link_reset_password.html" %}
                {% endif %}

                {% csrf_token %}
                {#    {{ form.as_p }}#}
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}